{% extends 'base.html.twig' %}

{% block title %}ORDER NOW!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello  ✅</h1>

    {{ form_start(form) }}
    <div class="d-inline-block" style="max-width: 100px;">
        <div>{{ form_label(form.product) }}</div>
        <div>{{ form_widget(form.product) }}</div>
    </div>
    <div class="d-inline-block">
        <div>{{ form_label(form.tax_number) }}</div>
        <div>{{ form_widget(form.tax_number) }}</div>
    </div>
    <div class="d-inline-block" >
        <div>{{ form_label(form.country_code) }}</div>
        <div>{{ form_widget(form.country_code) }}</div>
    </div>
    <div class="d-inline-block" style="min-width: 150px;">
        <div>{{ form_label(form.sale_code) }}</div>
        <div>{{ form_widget(form.sale_code) }}</div>
    </div>
    <div class="d-inline-block" style="min-width: 150px;">
        <div>{{ form_label(form.payment_processor) }}</div>
        <div>{{ form_widget(form.payment_processor) }}</div>
    </div>
    {% if price is defined and price is not null %}
    <div class="d-inline-block" style="min-width: 150px;">
        <div>{{ form_label(form.price) }}</div>
        <div>{{ price }}</div>
    </div>
    {% endif %}
    <br>
    <div class="d-inline-block">
        {{ form_widget(form.calculate) }}
    </div>
    <br>
    <div class="d-inline-block">
        {{ form_widget(form.payment) }}
    </div>
    <div class="error text-dark mt-5" style="background: red;">
        {{ form_errors(form.tax_number) }}
    </div>
    <ul>
        <li>Your SALE <code>SALE4</code></li>
        <li>Your GIFT <code>GIFT10</code></li>
    </ul>
    <br>
    <h2>YOUR TAX</h2>
    <ul>
        <li><code>DE123456789</code></li>
        <li><code>GR123456789</code></li>
        <li><code>IT12345678901</code></li>
        <li><code>FRAG123456789</code></li>
    </ul>
</div>
{% endblock %}
