{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ controller_name }}! ✅</h1>
    <h2 class="mt-5">✅Your order successfully payment✅</h2>

    {% if order_info is defined and order_info is not null %}
        <div class="container border my-5">
            <div class="row border">
                <div class="col-6 border">Order ID:</div>
                <div class="col-6 border">{{ order_info.getId }}</div>
            </div>
            <div class="row border">
                <div class="col-6 border">Product:</div>
                <div class="col-6 border">{{ order_info.getProduct.getName }}</div>
            </div>
            <div class="row border">
                <div class="col-6 border">Price:</div>
                <div class="col-6 border">{{ order_info.getPrice }}&dollar;</div>
            </div>
        </div>
    {% endif %}

    <ul class="mt-2">
        <li><a href="{{ path('app_order') }}">Назад</a></li>
    </ul>
</div>
{% endblock %}
